*{
    box-sizing: border-box;
}
html{
    
    text-align: center;
}
body{
    width: 100%;
    margin: 0 auto;
    
}
nav{
    
    margin: 0;
    padding: 0;
    width: 100%;
    background-color:rgb(29, 26, 26)
   
}

nav ul li{
    font-size: 25px;
    padding: 37px;
    color: darkgray;
    
   
}

div{
    
    width: 100%;
    text-align: center;
}
li{
    
    display: inline;
   
   
}
ul{ 
    list-style-type: none;
    text-align: center;
}
.footer {
    clear: both;
    padding: 50px;
    text-align: center;
    background-color:rgb(29, 26, 26);
    margin-top: 50px;
  }
.images{
    width:300px;
    margin: 1%;
}
p{
   
    color: rgb(0, 0, 0);
    font-size: 40px;
}
.left{
     float: left;
     margin-left: 196px; 
}
.right{
    text-align: right;
    overflow: scroll;
   
    width: 480px;
    height: 350px;
  
}

 