*{
    box-sizing: border-box;
}
html{
    
    text-align: center;
}
body{
    clear: both;
    width: 100%;
    margin: 0 auto;
    
}
nav{
    
    margin: 0;
    padding: 0;
    width: 100%;
    background-color:rgb(29, 26, 26)
   
}

nav ul li{
    font-size: 25px;
    padding: 37px;
    color: darkgray;
    
   
}

div{
    
    width: 100%;
    text-align: center;
}
li{
    
    display: inline;
   
   
}
ul{ 
    list-style-type: none;
    text-align: center;
}
.footer {
    clear: both;
    padding: 50px;
    text-align: center;
    background-color:rgb(29, 26, 26);
    margin-top: 50px;
  }
.images{
    width:300px;
    margin: 1%;
}
p{
   
    color: rgb(0, 0, 0);
    font-size: 40px;
}
.left{
      float: left; 
     margin-left: 400px;
}
.right{
    float: right; 
    
    /* text-align: right; */
    overflow: scroll;
   
    width: 480px;
    height: 350px;
  
}
.article-section {
    width: 1000px;
    margin: auto;
  }
  
  .article-img {
    float: left;
    position: relative;
    padding: 1rem;
  }
  
  .article-text {
    padding: 1rem;
    text-align: left;
    font-weight: bold;
  }
  .article-text h2 {
    font-size: 2.1rem;
  }  
  .article-text p {
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: auto;
    height: 19rem;
  }
  .btn {
 
   
    width: 15rem;
    border: 0;
    height: 2rem;
    cursor: pointer;
  }
  .div-num2{
    width: 1000px;
    margin: auto;
  }
 